.fullscreen__bg-feedback {
    background: url('../img/img5.jpg') center / cover no-repeat;
    opacity: 1;
}
.fullscreen__body-feedback {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.container__title-feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__text-feedback {
    text-align: start;
    margin-top: 10px;
    font-size: 17px;
}
.form-group {
    text-align: start;
}
.fullscreen__feedbackCreate {
    min-height: 70vh;
    display: flex;
    justify-content: center;
}