.navhr {
    border: 1px solid rgba(116, 116, 116, 0.307);
    margin: 0;
}
.navbar {
    padding-left: 0;
    padding-right: 0;
    padding-top: 9px;
    padding-bottom: 9px;
}
nav {
    background-color: rgba(0, 0, 0, 0.812);
    backdrop-filter: blur(5px);
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0;
    margin: 0px 0px 0px 0px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 1px;
    box-shadow: 0px 6px 42px 5px rgba(14, 25, 34, 0.1);
}
.dropdown-menu {
    margin-bottom: 8px;
}
.btn {
    border-radius: 0.1px;
}